body{
    margin: 0;
    padding: 0;
}
.container-fluid{
    background-image: url(../images/backgrounds/h_img.jpg);
    background-position: center;
    background-size: cover;
    color: cornsilk;
    text-align: center;
}
.fluid h1{
    margin-left: 50px;
}
