body{
    margin: 0;
    padding: 0;
}
.container-fluid{
    background-image: url(../images/backgrounds/h_img.jpg);
    background-position: center;
    background-size: cover;
    color: cornsilk;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    
}
.overlay{

}
.container-fluid h1{
    padding-top: 50px;
}
img{
    padding-top: 10%;
}
