body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1500px;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.home{
    background-image: url(../images/backgrounds/h_img.jpg);
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: 650px;
    color: cornsilk;
    font-family: 'Fjalla One', ; 
    text-align: center;
    margin-bottom: 30px;
}
.container-fluid h1{
    padding-top: 20px;
}
.container-fluid img{
    margin-top: 10%;
}
.mx-auto d-block click{
    margin-bottom: 70px;
}
.services{
    background-image: url("../images/backgrounds/s_image.jpg");
    height: 350px;
    width: 100%;
    margin-top: 50px;
    color: #fff;
}
.services h1{
    padding-top: 70px;
}
.services p{
    padding-bottom: 70px;
}
.what-we-do{
    width: 100%;
}
.what-we-do h1{
    margin-top: 50px;
}
.what-we-do h1 p{
    text-align: center;
}
.service1, .dev, .ment{
    padding-left: 200px;
    margin-top: 0px;
}
.de{
    display: none;
    margin-left: 30px;
}
.devep{
    display: none;
}
.proment{
    display: none;
}
.portfolio{
    margin-top: 50px;
    width: 100%;
}
#overlay ,#overlay2, #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8{
    display: none;
    background-color:rgba(241, 234, 234, 0.456);
    position:absolute;
    width: 88%;
    height: 184px;  
    top: 0px;
    left: 16px;
    bottom: 9px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 30%;
}
#table{
    margin-top:20px;
    width: 100%;
}
#table2{
    margin-top: 40px;
    width: 100%;
}
figcaption{
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.contacts{
    background-image: url("../images/backgrounds/c_image.jpg");
    margin-top: 50px;
    background-position: cover;
    width: 100%;
    height: 450px;
}
#name{
    margin-right: 20px;
    padding-left: 20px;
    height: 40px;
}
#email{
    height: 40px; 
}
#message{
    margin-top: 20px;
    margin-left: 80px;
    height: 200px

}
input[type=name]:hover{
    background-color: white;
    color: black;
}
input[type=email]:hover{
    background-color: white;
}
#message:hover{
    background-color: white;
    color: black;
}
#button{
    margin-left: 350px;
    margin-top: 20px;
    background-color: white;
    background: transparent;
    color: white;
}
input[type=name],input[type=email],#message{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
  }
.col-md-12{
    margin-top: 50px;
    width: 100%;
}
footer{
    width: 100%;
    margin-top: 50px;
}
